<h1 class="tienda-title">CARRITO <i class="fas fa-shopping-cart"></i></h1>
    <div class="carrito-subtitulo">
        <h2>TUS PRODUCTOS</h2>
    </div>
    <section class="section-tabla-carrito">
        <table class="table" id="table">
            <thead class="tabla-encabezado">
                <tr class="tabla-encabezado2">
                    <th>PRODUCTO</th>
                    <th>DESCRIPCION</th>
                    <th>CANTIDAD</th>
                    <th>PRECIO</th>
                </tr>
            </thead>
            <tbody>
                {{#each carrito}}
                <tr>
                    <td class="img-carrito-container"><img class="img-prod-carrito" src="imagenes/producto.jpg" alt=""></td>
                    <td><p>{{nombre}}</p></td>
                    <td>
                        <div class="carrito-cantidad">
                            <form action="/tienda/editarcantidad/{{id}}" method="POST">
                                <input type="number" id="cantidad" class="cantidad" name="cantidad" min="1" max="10" value="{{cantidad}}">
                                <button type="submit" class="btn btn-warning">Actualizar cantidad</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <span class="carrito-precio">${{precio}}</span>
                        <input type="text" name="precio" class="precio-producto" value="{{precio}}" style="display: none;">
                        <a href="/tienda/eliminarcarrito/{{id}}" class="btn btn-danger">Eliminar producto</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot></tfoot>
        </table>
        <div class="datos-compra">
            <p class="datos-compra-titulo">DETALLES DEL PEDIDO</p>
            <table class="datos-compra-tabla">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total de la orden</td>
                        <td id="total-orden"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form action="/tienda/comprar" method="POST">
            {{#each carrito}}
                <input type="text" name="nombre" id="nombre" value="{{nombre}}" style="display: none;">
                <input type="text" name="precio" id="precio" value="{{precio}}" style="display: none;">
                <input type="text" name="cantidad" id="cantidad" value="{{cantidad}}" style="display: none;">
                <input type="text" name="id" id="id" value="{{id}}" style="display: none;">
            {{/each}}
            <button class="boton-productos" type="submit">Agregar al carrito</button>
        </form>
    </section>

{{!-- JS --}}
<script src="/js/carrito.js"></script>
