<h1 class="tienda-title">TIENDA ONLINE</h1>
<div class="tienda-menu"></div>

<div id="tienda-productos">

{{!-- tienda para admin --}}
{{#if user.admin}}
    {{#each tienda}}
    <div class="productos-cards-container">
        <div class="productos">
            <img class="img-productos" src="/imagenes/imagen-1.jpg" alt="">
            <h3 class="nombre-productos">{{nombre}}</h3>
            <h3 class="precio-productos">${{precio}}</h3>
            <button class="boton-productos">Agregar al carrito</button>
            <a href="/tienda/eliminar/{{id}}" class="btn btn-danger">Eliminar producto</a>
            <a href="/tienda/editar/{{id}}" class="btn btn-warning">Editar producto</a>
        </div>
        <div class="productos">
            <img class="img-productos" src="/imagenes/imagen-1.jpg" alt="">
            <h3 class="nombre-productos">{{nombre}}</h3>
            <h3 class="precio-productos">${{precio}}</h3>
            <button class="boton-productos">Agregar al carrito</button>
            <a href="/tienda/eliminar/{{id}}" class="btn btn-danger">Eliminar producto</a>
            <a href="/tienda/editar/{{id}}" class="btn btn-warning">Editar producto</a>
        </div>
        <div class="productos">
            <img class="img-productos" src="/imagenes/imagen-1.jpg" alt="">
            <form action="tienda/agregarcarrito" method="POST">
                <h3 class="nombre-productos">{{nombre}}</h3>
                <h3 class="precio-productos">${{precio}}</h3>
                <input type="text" name="nombre" id="nombre" value="{{nombre}}" style="display: none;">
                <input type="text" name="precio" id="precio" value="{{precio}}" style="display: none;">
                <input type="text" name="cantidad" id="cantidad" value="{{cantidad}}" style="display: none;">
                <input type="text" name="id" id="id" value="{{id}}" style="display: none;">
            </form>
            <a href="/tienda/eliminar/{{id}}" class="btn btn-danger">Eliminar producto</a>
            <a href="/tienda/editar/{{id}}" class="btn btn-warning">Editar producto</a>
        </div>
         <div class="productos">
            <img class="img-productos" src="/imagenes/imagen-1.jpg" alt="">
            <h3 class="nombre-productos">{{nombre}}</h3>
            <h3 class="precio-productos">${{precio}}</h3>
            <button class="boton-productos">Agregar al carrito</button>
            <a href="/tienda/eliminar/{{id}}" class="btn btn-danger">Eliminar producto</a>
            <a href="/tienda/editar/{{id}}" class="btn btn-warning">Editar producto</a>
        </div>
    </div>
    {{else}}
    {{!-- en el caso de no haber productos en la tienda, va a aparecer este cuadro --}}
        <h3 class="nombre-productos">No hay productos aún.</h3>
        <a href="/tienda/agregarproducto" class="btn btn-success">Agregar producto nuevo</a>
    {{/each}}

{{else}}
{{!-- tienda para usuarios --}}

    {{#each tienda}}
        <div class="productos">
            <img class="img-productos" src="/imagenes/imagen-1.jpg" alt="">
            <h3 class="nombre-productos">{{nombre}}</h3>
            <h3 class="precio-productos">${{precio}}</h3>
            <button class="boton-productos">Agregar al carrito</button>
        </div>
    {{else}}
    {{!-- en el caso de no haber productos en la tienda, va a aparecer este cuadro --}}
        <h3 class="nombre-productos">No hay productos aún.</h3>
        <a href="/tienda/agregarproducto" class="btn btn-success">Agregar producto nuevo</a>
    {{/each}}

{{/if}}
</div>